*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body{ 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #ffffff; 
    color: #333; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}

header{ 
    background-color: #ffffff; 
    padding: 30px 20px; 
    text-align: center; 
    border-bottom: 4px solid #c8a2ff;
    position: relative;
 } 

 .logo{

    width: 70px;

    position: absolute;

    top: 10px;

    left: 20px;

}
 
 header h1{ 
    color: #8e44ad; 
    margin-bottom: 20px; 
    font-size: 32px; 
}

nav{ 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
} 

nav a{ 
    text-decoration: none; 
    background-color: #c8a2ff; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 8px; 
    font-weight: bold; 
    transition: 0.3s;
 } 
 
 nav a:hover{ 
    background-color: #2e7d32; 
}

main{ 
    flex: 1; 
    padding: 30px; 
} 

main h2{ 
    color: #8e44ad; 
    margin-bottom: 25px; 
    text-align: center; 
}

.card{ 
    background-color: white; 
    border: 2px solid #c8a2ff; 
    border-radius: 12px;
     border-left: 6px solid #2e7d32; 
     padding: 20px; 
     margin-bottom: 20px; 
     box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    } 
    
    .card h2{ 
        color: #8e44ad; 
        margin-bottom: 15px; 
    }
    
    .card p{
         margin-bottom: 10px; 
    } 
    
form{ 
    background-color: white; 
    padding: 20px; 
    border-radius: 12px; 
    border: 2px solid #c8a2ff; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

input{ 
    width: 100%; 
    padding: 12px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

button{ 
    background-color: #2e7d32; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.3s; 
} 

button:hover{ 
    background-color: #256428;
 }

 footer{ 
    background-color: #c8a2ff; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    margin-top: auto;
 }

 @media (max-width: 768px){ 
    nav{ flex-direction: column; 
        align-items: center; 
    } 
    header h1{ 
        font-size: 24px; 
    } 
}